<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sale">
      <h2 data-cy="saleDetailsHeading"><span>Sale</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ sale.id }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ sale.quantity }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ sale.price }}</span>
        </dd>
        <dt><span>Tax</span></dt>
        <dd>
          <span>{{ sale.tax }}</span>
        </dd>
        <dt><span>Discount</span></dt>
        <dd>
          <span>{{ sale.discount }}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="sale.product">
            <a [routerLink]="['/product', sale.product.id, 'view']">{{ sale.product.name }}</a>
          </div>
        </dd>
        <dt><span>Invoice</span></dt>
        <dd>
          <div *ngIf="sale.invoice">
            <a [routerLink]="['/invoice', sale.invoice.id, 'view']">{{ sale.invoice.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/sale', sale.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
